
/*   load the main media CSS file    */

@import url('../../../common/styles/media.css');

html, body {
	margin:0;
	height:100%;

}
#flashContent {
	width:100%;
	height:100%;
}

#ID_Button01{margin-top:1px;}
#ID_Button02{margin-top:1px;}


#canvasDiv{overflow-y: hidden ! important;}
#canvas2{overflow:hidden ! important}


@media only screen and (device-width: 768px) {
#ID_Button01{margin-top:0px;}
#ID_Button02{margin-top:0px;}
}