
/*   load the main media CSS file    */

@import url('../../../common/styles/media.css');

html, body {
	margin:0;
	height:100%;

}
#flashContent {
	width:98%;
	height:98%;
}

#ID_txt04{
    border:2px solid #F68026;
    border-radius:5px;
    -moz-border-radius:5px; /* Firefox 3.6 and earlier */
    -webkit-border-radius:5px;
    -khtml-border-radius:5px;
    padding:2px 2px 0px 2px;
    background:#FDE6D4;
	height:34px;
	vertical-align:middle;
}
	
.ID_bubble_txt01 {
		position: relative;
		padding: 5px;
		margin: 1em 0 3em;
		background-color: #cce9e7;
		-webkit-box-shadow: 2px 2px 4px #888;
		-moz-box-shadow: 2px 2px 4px #888;
		box-shadow: 2px 2px 4px #888;
		border-radius:3px;
		-webkit-border-radius:3px;
		-moz-border-radius:3px;
		border: 3px solid #67bdbc;
		width:150px;
		height:52px;
		color:#393536;
}

.ID_bubble_txt01::after {
content: "";
position: absolute;
bottom: -26px;
left: 45px;
border-width: 23px 17px 0 0px;
border-style: solid;
border-color: #67bdbc transparent;
display: block;

}

.ID_bubble_txt02
{
	position: relative;
		padding: 5px;
		margin: 1em 0 3em;
		background-color: #cce9e7;
		-webkit-box-shadow: 2px 2px 4px #888;
		-moz-box-shadow: 2px 2px 4px #888;
		box-shadow: 2px 2px 4px #888;
		border-radius:3px;
		-webkit-border-radius:3px;
		-moz-border-radius:3px;
		border: 3px solid #67bdbc;
		width:159px;
		height:52px;
		color:#393536;
}
.ID_bubble_txt02::after {
content: "";
position: absolute;
bottom: -26px;
left: 62px;
border-width: 23px 0px 0 17px;
border-style: solid;
border-color: #67bdbc transparent;
display: block;

}

/*@media only screen and (device-width: 768px) {
  #ID_bubble_txt01.arrow:before{top:62px;}
  #ID_bubble_txt02.arrow:before{top:62px;}
 
}*/