@import url(../../../common/styles/media.css);

html,body {
height:100%;
margin:0;
}

#flashContent {
width:98%;
height:98%;
}
span{color:#393536; font-size:11px;}
table {border-collapse: collapse;border-spacing: 0; font-family:"Courier New" !important; color:#000000; font-size:11px;}
td span{color:#333333; font-weight:normal;font-size:11px;}
td.green_box{background:#E6EBA8; color:#F26200; font-weight:bold; font-size:11px; padding:7px 3px;}
td.blue_box{background:#CCE9E7; font-weight:bold; font-size:11px;padding:7px 3px;}

td.green_box_2{background:#E6EBA8;color:#582A73;font-weight:bold; font-size:11px;padding:7px 0 7px 7px;}
td.blue_box_2 {background:#CCE9E7; color:#F26200;font-weight:bold; font-size:11px;padding:7px 0;}
#ID_s2_txt02{ 	border:2px solid #F68026;
				border-radius:5px;
				-moz-border-radius:5px; /* Firefox 3.6 and earlier */
				-webkit-border-radius:5px;
				-khtml-border-radius:5px;
				padding:5px;
				background:#FDE6D4;
			}