
/*   load the main media CSS file    */

@import url('../../../common/styles/media.css');

html, body {
	margin:0;
	height:100%;

}
#flashContent {
	width:98%;
	height:98%;
}
#mainDiv {
    height: 390px;
    width: 710px;	
	position:absolute;
	margin-left:13px;
}
#text_body2{
	border:#077A77;
    border-radius:0px;
    -moz-border-radius:0px; /* Firefox 3.6 and earlier */
    -webkit-border-radius:0px;
    -khtml-border-radius:0px;
    padding:13px 0 13px 0px;
    background:#077A77;
	color:#ffffff;
	
	}
#text_body3{border:#EFF8F7;
    border-radius:0px;
    -moz-border-radius:0px; /* Firefox 3.6 and earlier */
    -webkit-border-radius:0px;
    -khtml-border-radius:0px;
    padding:11px 0 11px 0px;
    background:#EFF8F7;
	height:13px !important;
	}
	
#text_body4{border:#ffffff;
    border-radius:0px;
    -moz-border-radius:0px; /* Firefox 3.6 and earlier */
    -webkit-border-radius:0px;
    -khtml-border-radius:0px;
    padding:11px 0 11px 0px;
    background:#ffffff;
	height:13px !important;
	}
#text_body5{border:#EFF8F7;
    border-radius:0px;
    -moz-border-radius:0px; /* Firefox 3.6 and earlier */
    -webkit-border-radius:0px;
    -khtml-border-radius:0px;
    padding:11px 0 11px 0px;
    background:#EFF8F7;
	height:13px !important;
	}
#text_body6{border:#ffffff;
    border-radius:0px;
    -moz-border-radius:0px; /* Firefox 3.6 and earlier */
    -webkit-border-radius:0px;
    -khtml-border-radius:0px;
    padding:11px 0 11px 0px;
    background:#ffffff;
	height:13px !important;
	}
#text_body7{border:#EFF8F7;
    border-radius:0px;
    -moz-border-radius:0px; /* Firefox 3.6 and earlier */
    -webkit-border-radius:0px;
    -khtml-border-radius:0px;
    padding:11px 0 11px 0px;
    background:#EFF8F7;
	height:13px !important;
	}
#ID_FEEDBACK{cursor: pointer !important; z-index: 11120 !important;}
#ID_FEEDBACK div {
font-size: 12px !important;
left:4px !important;
line-height: 16px;
padding: 0 0 0 3px;
color:#442557 !important;
text-align: left !important;
width: 189px !important; cursor: pointer !important;
z-index: 11120 !important;
}
