
/*   load the main media CSS file    */

@import url('../../../common/styles/media.css');

html, body {
	margin:0;
	height:100%;
}
#flashContent {
	width:98%;
	height:98%;
}
.smallFont {font-size:10px;}
table {border-collapse: collapse;border-spacing: 0; font-family:"Courier New" !important; color:#000000; font-size:11px; line-height:13.66px;}
table tr td {vertical-align:top;}
table tr td.innerHead {text-align:left !important;}
table tr td.innerLeft {text-align:left !important;}
