
/*   load the main media CSS file    */

@import url('../../../common/styles/media.css');

html, body {
	margin:0;
	height:100%;

}
#flashContent {
	width:98%;
	height:98%;
}
 
#mainDiv{
	width:460px;
	height:400px;
	position:absolute;
	top:0px;
	left:0px; 
	
}
 
#main_container{position:absolute;top:60px;left:72px;width:308px!important;height:250px!important;}

#pic1{position:absolute;left:-41px;top:175px;width:56px;height:51px; z-index: 1;}
#pic2{position:absolute;left:83px;top:217px;}
#pic3{position:absolute;left:191.9px;top:220.1px;width:67px;height:45px;}
#pic4{position:absolute;left:297.75px;top:173.95px;width:66px;height:31px;}

#pic22{position:absolute;left:79px;top:213px;opacity:0;}
#pic33{position:absolute;left:185.9px;top:215.1px;width:67px;height:45px;opacity:0;}
#pic44{position:absolute;left:291.75px;top:165.95px;width:66px;height:31px;opacity:0;}


#pic5{position:absolute;left:-44px;top:172px;width:63px;height:58px; opacity:0;z-index: 2;}
#envelop1{position:absolute;left:-33px;top:182px;width:36.9px;height:23.55px;opacity:0;z-index: 3;}
#envelop2{position:absolute;left:156px;top:74px;width:36.9px;height:23.55px;opacity:0;z-index: 3;}
#envelop3{position:absolute;left:156px;top:74px;width:36.9px;height:23.55px;opacity:0;z-index: 3;}
#envelop4{position:absolute;left:156px;top:74px;width:36.9px;height:23.55px;opacity:0;z-index: 3;}
#arrowHead1{left:4px;top:159px;position:absolute;opacity:1;z-index:1;opacity:0;}
#arrowLine1{left:0px;top:117px;position:absolute;opacity:1;z-index:1;opacity:1;clip:rect(0px 0px 72px 0px);}



#arrowHead11{left:166px;top:44px;position:absolute;z-index:1;opacity:0;}
#arrowLine11{left:173px;top:45px;position:absolute;z-index:1;opacity:1;clip:rect(28px, 5px, 30px, 0px);}/**/

#arrowHead2{left:200px;top:94px;position:absolute;z-index:1;opacity:0;}
#arrowLine2{left:200px;top:94.5px;position:absolute;z-index:1;opacity:1;clip:rect(0px 0px 0px 0px);}/*rect(0px, 74px, 57px, 0px)*/

#arrowHead3{left:180px;top:100px;position:absolute;z-index:1;opacity:0;}
#arrowLine3{left:182px;top:102px;position:absolute;z-index:1;opacity:1;clip:rect(0px 0px 0px 0px);}/*clip:rect(0px, 34px, 106px, 0px);*/

#arrowHead4{left:148px;top:104px;position:absolute;z-index:1;opacity:0;}
#arrowLine4{left:123px;top:103px;position:absolute;z-index:1;opacity:1;clip:rect(0px 0px 0px 0px);}/*rect(0px, 49px, 112px, 0px)*/

#redX{left:162px;top:1px;position:absolute;z-index:5;opacity:0;}

#ID_txt01{left:114px	;top:-57px;position:absolute;z-index:5; font-size: 11px;
	height:20px;text-align:center;}
#staticText1{left:-44px;top:224px;position:absolute;z-index:5;font-size: 11px;}
#staticText2{left:81px;top:265px;position:absolute;z-index:5;font-size: 11px;}
#staticText3{left:193px;top:266px;position:absolute;z-index:5;font-size: 11px;}
#staticText4{left:289px;top:204px;position:absolute;z-index:5;font-size: 11px;}



/*116px*/



/*#yellow_1{width:30px;height:20px;opacity:0;left:43px;top:244px;z-index:10;position:absolute;}
#arrowline1{left:38px;top:168px;position:absolute;opacity:0;z-index:1;clip:rect(0px 48px 71px 0px);}
#arrowhead1{left:77px;top:224px;position:absolute;opacity:0;z-index:1;}*/


