
/*   load the main media CSS file    */

@import url('../../../common/styles/media.css');

html, body {
	margin:0;
	height:100%;
	
}
#flashContent {
	width:98%;
	height:98%;
}


 

.ID_bubble01 {
		position: relative;
		padding: 5px;
		margin: 1em 0 3em;
		background-color: #cce9e7;
		-webkit-box-shadow: 2px 2px 4px #888;
		-moz-box-shadow: 2px 2px 4px #888;
		box-shadow: 2px 2px 4px #888;
		border-radius:3px;
		-webkit-border-radius:3px;
		-moz-border-radius:3px;
		border: 3px solid #67bdbc;
		width:132px;
		height:48px;
		color:#393536;
}

.ID_bubble01::after {
content: "";
position: absolute;
bottom: -26px;
left: 66px;
border-width: 23px 0 0 17px;
border-style: solid;
border-color: #67bdbc transparent;
display: block;

}

.ID_bubble02 {
		position: relative;
		padding: 5px;
		margin: 1em 0 3em;
		background-color: #cce9e7;
		-webkit-box-shadow: 2px 2px 4px #888;
		-moz-box-shadow: 2px 2px 4px #888;
		box-shadow: 2px 2px 4px #888;
		border-radius:3px;
		-webkit-border-radius:3px;
		-moz-border-radius:3px;
		border: 3px solid #67bdbc;
		width:129px;
		height:56px;
		color:#393536;
}

.ID_bubble02::after {
content: "";
position: absolute;
bottom: -26px;
left: 7px;
border-width: 23px 0 0 17px;
border-style: solid;
border-color: #67bdbc transparent;
display: block;

}

.ID_bubble03 {
		position: relative;
		padding: 5px;
		margin: 1em 0 3em;
		background-color: #cce9e7;
		-webkit-box-shadow: 2px 2px 4px #888;
		-moz-box-shadow: 2px 2px 4px #888;
		box-shadow: 2px 2px 4px #888;
		border-radius:3px;
		-webkit-border-radius:3px;
		-moz-border-radius:3px;
		border: 3px solid #67bdbc;
		width:125px;
		height:84px;
		color:#393536;
}

.ID_bubble03::after {
content: "";
position: absolute;
bottom: -26px;
left: 56px;
border-width: 23px 17px 0 0px;
border-style: solid;
border-color: #67bdbc transparent;
display: block;

}

