
/*   load the main media CSS file    */

@import url('../../../common/styles/media.css');

html, body {
	margin:0;
	height:100%;
}
#flashContent {
	width:98%;
	height:98%;
	overflow:hidden;
}

#ID_text01,#ID_text02,#ID_text03,#ID_text04
{
	background-color: #F4F5D3;
    border: 2px solid #515200;
    border-radius: 5px 5px 5px 5px;
    padding:6px;
}

#ID_text05
{
	background-color: #E6EBA8;
    border: 2px solid #515200;
    border-radius: 5px 5px 5px 5px;
    padding:7px;
}

#ID_text06{
	background-color: #CDD750;
    border: 2px solid #515200;
    border-radius: 5px 5px 5px 5px;
	padding:6px;
}
