
/*   load the main media CSS file    */

@import url('../../../common/styles/media.css');

html, body {
	margin:0;
	height:100%;
}
#flashContent {
	width:98%;
	height:98%;
}

.green {color:#5FBC21; background-color:#DBECDA;}
.orange {color:#F68026; background-color:#FACCA8;}
.purple {color:#652C8A; background-color:#C1ABD1;}
.font_purple {color:#652C8A;}

#staticTxt1_1 { letter-spacing:1px;}
.wide {padding-left:13px;}




/* iPad [portrait + landscape] */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
#arrow_str { position:absolute; top:10px; left:10px;}
}