
/*   load the main media CSS file    */

@import url('../../../common/styles/media.css');

html, body {
	margin:0;
	height:100%;
	
}
#flashContent {
	width:100%;
	height:100%;
}

#borderText{border:2px solid #666263 ! important;background-color:#E9E7E8;z-index:0}
#ID_txt02,#ID_txt03,#ID_txt05,#ID_txt06,#ID_txt07{z-index:1;border-right:2px solid #666263 ! important;padding:15px 2px}
#ID_txt05,#ID_txt06{padding:21px 2px}
#ID_txt07{border:none ! important;}
#ID_txt04{z-index:1;border:2px solid #F68026 ! important;padding:14px 2px 13px ;background-color:#FACCA8}

#borderText1{border:2px solid #F68026	! important;background-color:#FACCA8;z-index:0}
#ID_txt10,#ID_txt11,#ID_txt12,#ID_txt13{z-index:1;border-right:2px solid #F68026 ! important;padding:15px 6px}
#ID_txt13{padding:21px 5px;border:none ! important;}

#borderText01{border:1px solid #666263 ! important;border-bottom:0px solid #393536 ! important;}
#borderText08,#borderText09{border:1px solid #393536 ! important;border-top:0px solid #393536 ! important;}

#ID_txt01{background-color:#fff;z-index:1;width:40px;}
#ID_txt08,#ID_txt09{background-color:#fff;z-index:1;width:40px;}