
/*   load the main media CSS file    */

@import url('../../../common/styles/media.css');

html, body {
	margin:0;
	height:100%;

}
#flashContent {
	width:98%;
	height:98%;
	overflow:hidden;

}
#mainDiv
{
width:460px;
height:400px;
position:absolute;

}

#main_wrapper{width:450px;height:360px;position:absolute;}
#main_container{width:440px !important;height:340px !important;}
#sub_container{width:430px;height:300px;position:absolute;top:20px;left:10px}
#mainImg{width: 390px; left: 40px;position: absolute;top:66px;}
#zoomImg{left:18;top:152px;position:absolute;opacity:0;z-index:1;}
#purpleShadowBox{ border: 3px solid #F26200;box-shadow: 0 0 4px #F26200;height: 55px;left: 200px;opacity: 0;position: absolute;top: 72px;width: 61px;}
#purpleShadowBox1{border: 3px solid #F26200;box-shadow: 0 0 4px #F26200;height: 86px;left: 159px;opacity: 0;position: absolute;top: 69px;width: 102px;}
#purpleShadowBox2{ border: 3px solid #F26200;
    box-shadow: 0 0 4px #F26200;
    height: 110px;
    left: 131px;
    opacity: 0;
    position: absolute;
    top: 70px;
    width: 132px;}
#purpleShadowBox3{border: 4px solid #F26200;box-shadow: 0 0 4px #F26200;height: 133px;left: 47px;opacity: 0;position: absolute;top: 70px;width: 224px;}
#data{position:absolute;opacity:1;border: 1px solid #393536;background-color:#FFF3B9;width:57px;height:18px;top:0px;left: 175px;z-index:0}
#tcp{position:absolute;opacity:1;border: 1px solid #393536;background-color:#DBECDA;height:18px;top:0px;right:67px;display:none;}
#ip{position:absolute;opacity:1;border: 1px solid #393536;background-color:#E0D5E6;height:18px;top:0px;right:107px;display:none;}
#ethernet{position:absolute;opacity:1;border: 1px solid #393536;background-color:#F9D1D2;height:18px;top:0px;right:135px;display:none;}
#empty{position:absolute;opacity:1;border: 1px solid #393536;background-color:#d3ba46;height:18px;top:0px;left:230px;display:none;}
#segment{height:20.1px;left: 35px;position: absolute;top: 227px;width: 243px;}
#textsegment{position: absolute;}
#Tween32{border:1px solid #6F3C93;background-color:#a3913b;position:absolute;top:289px;left:58px;opacity:0;width:207px;height:12px;}
#ID_txt02{width:100px;height:20px;text-align:center;font-size:11px;position:absolute;left:304px;top:248px;}
#ID_txt03{width:100px;height:20px;text-align:center;font-size:11px;position:absolute;left:58px;top:245px; z-index: -11}
#ID_txt04{width:100px;height:20px;text-align:center;font-size:11px;position:absolute;left:186px;top:75.5px;}
#ID_txt05{width:100px;height:20px;text-align:center;font-size:11px;position:absolute;left:132px;top:75.5px;}
#ID_txt06{width:100px;height:20px;text-align:center;font-size:11px;position:absolute;left:98px;top:75.5px;}
#ID_txt07{width:102px;height:20px;text-align:center;font-size:11px;position:absolute;left:42px;top:75.5px;}
#ID_txt08{width:100px;height:20px;text-align:center;font-size:11px;position:absolute;left:185px;top:114px;}
#ID_txt09{width:100px;height:20px;text-align:center;font-size:11px;position:absolute;left:177px;top:141px;}
#ID_txt10{width:100px;height:20px;text-align:center;font-size:11px;position:absolute;left:187px;top:167px;}
#ID_txt11{width:102px;height:20px;text-align:center;font-size:11px;position:absolute;left:172px;top:191px;}
#ID_txt12{width:100px;height:20px;text-align:center;font-size:11px;position:absolute;left:191px;top:230.5px;}
#ID_txt13{width:100px;height:20px;text-align:center;font-size:11px;position:absolute;left:140px;top:230.5px;display:none;}
#ID_txt14{width:100px;height:20px;text-align:center;font-size:11px;position:absolute;left:105px;top:230.5px;display:none;}
#ID_txt15{font-size: 11px;height: 20px;left: 67px;position: absolute;text-align: center;top: 49px;width: 197px;}
#ID_txt16{width:101px;height:20px;text-align:center;font-size:11px;position:absolute;left:59px;top:230.5px;display:none;}














