
/*   load the main media CSS file    */

@import url('../../../common/styles/media.css');

html, body {
	margin:0;
	height:100%;

}
#flashContent {
	width:98%;
	height:98%;
}
li{margin-left:14.7px;}

@media only screen and (device-width: 768px) {
  li{margin-left:4.7px;}
}