
/*   load the main media CSS file    */

@import url('../../../common/styles/media.css');

html, body {
	margin:0;
	height:100%;
	min-height: 390px;
	min-width:470px;
}
#flashContent {
	width:98%;
	height:98%;
}


#ID_txt12{
	color :#5FBC21!important;
	background: #fff !important;
}

.ID_bubble1
{
		position: relative;
		padding: 5px;
		margin: 1em 0 3em;
		background-color: #cce9e7;
		-webkit-box-shadow: 2px 2px 4px #888;
		-moz-box-shadow: 2px 2px 4px #888;
		box-shadow: 2px 2px 4px #888;
		border-radius:3px;
		-webkit-border-radius:3px;
		-moz-border-radius:3px;
		border: 3px solid #67bdbc;
		width:192px;
		height:31px;
		color:#393536;
}

.ID_bubble1::after
{
	content: "";
	position: absolute;
	bottom: -26px;
	left: 82px;
	border-width: 23px 17px 0 0px;
	border-style: solid;
	border-color: #67bdbc transparent;
	display: block;

	
}
#ID_txt08{background-color:#fff;padding:0px;display:inline;margin:2px 0 0 0;}
