
/*   load the main media CSS file    */

@import url('../../../common/styles/media.css');

html, body {
	margin:0;
	height:98%;
}
#flashContent {
	width:98%;
	height:98%;
}

#staticTxt1 {overflow:scroll; font-family:"Courier New" !important; height:332px !important;}
