
/*   load the main media CSS file    */

@import url('../../../common/styles/media.css');

html, body {
	margin:0;
	height:100%;
	overflow:hidden !important;
}
#flashContent {
	width:98%;
	height:98%;
	overflow:hidden !important;
}
#mainDiv {
position:absolute;
top:0;
width:715px;
height:400px;
left:0px ;
}
#title b {
font-size:12px;
}

#title{
font-size:11px;
text-align:left;
padding-left:5px;
}

#title_sub {
font-size:11px;
text-align:left;
padding-left:15px;
}
#addresstext{
font-size:12px;
text-align:right;
}
#address {
font-size:12px;
text-align:left;
color:#f78833;
padding:0 0 0 5px;
}
#network1,#network2,#network3,#network4,#broadcast1,#broadcast2,#broadcast3,#broadcast4,#fuhostadd1,#fuhostadd2,#fuhostadd3,#fuhostadd4,#luhostadd1,#luhostadd2,#luhostadd3,#luhostadd4{
	background-color: #66C0E5;
    border: 1px solid #E9E7E8;
    font-family: "Courier New" !important;
    font-size: 11px !important;
    font-weight: bold;
    height: 22px;
    text-align: left;
    width: 92%;
	color:#000000;
	padding-left:4%
}


#title_bg {
margin-left:-2px;
background-image:url(orange_bg.jpg);
background-repeat:repeat;
text-align:center;
border-radius:5px 5px 0 0;
}


.position_bg {
background-color:#d3d1d2;
text-align:left;
font-size:11px;
padding:3px;
}

.exponent_bg {
background-color:#e9e7e8;
text-align:left;
font-size:11px;
padding:3px;
}

#new_nub,#show {
background-image: url("button_bg.jpg");
border: medium none;
border-radius: 4px 4px 4px 4px;
color: #FFFFFF;
font-size: 11px;
font-weight: bold;
height: 22px;
margin: 2px 0 2px 30px;
padding-bottom: 3px;
width: 112px;
}

#check {
background-image:url(button_bg.jpg);
border:medium none;
border-radius:4px 4px 4px 4px;
color:#FFF;
font-size:11px;
font-weight:bold;
height:21px;
padding-bottom:3px;
width:112px;
margin-left:27px;
}

#reset {
background-image: url("button_bg.jpg");
    border: medium none;
    border-radius: 4px 4px 4px 4px;
    color: #FFFFFF;
    font-size: 11px;
    font-weight: bold;
    height: 21px;
    margin-left: 41px;
    padding-bottom: 3px;
    width: 112px;
}

.align_right {
text-align:right;
padding-right:5px;
}

.align_center {
text-align:center;
height:15px;
}

.top_gap {
padding-top:11px;
}

.shift_right {
padding-right:0;
padding-left:9px;
}

.result p {
margin:0;
padding:2px;
height:30px;
}

.result_2 p {
margin:0 0 20px;
padding:2px;
}

#title_bg input {
text-align:center!important;
width:15%;
}

#pannel{
background-color: #C1ABD1;
border-radius: 5px 5px 5px 5px;
box-shadow: 3px 3px 6px #3F3F3F;
float: left;
left: 182px;
position: absolute;
top: 266px;
width: 475px;
}

.cross,.cross_2 {
width:96%;
border-bottom:3px solid #3d244c;
float:left;
margin-left:2%;
}

.cross a,.cross_2 a {
border:1px solid #3D244C;
float:right;
height:12px;
margin-bottom:1px;
margin-right:4px;
margin-top:4px;
width:12px;
}

.cross img,.cross_2 img {
float:right;
margin-right:1px;
margin-top:1px;
}

.cross span,.cross_2 span {
color:#462d54;
font-size:11px;
}

.result,.result_2 {
background-color: #FFFFFF;
float: left;
font-size: 11px;
height: 45px;
margin: 2%;
width: 96%;
}

#pannel a,#pannel_2 a {
display:block!important;
}

host1,#host2,#host3,#host4,#hostbin1,#hostbin2,#hostbin3,#hostbin4,#subnet1,#subnet2,#subnet3,#subnet4,#subnetbin1,#subnetbin2,#subnetbin3,#subnetbin4{/*text-align:center;font-family:"Courier New" !important;*/}

#ID_txt09,#ID_txt10,#ID_txt11,#ID_txt12
{ 
color:#FFF;
font-size:11px;
font-family:Arial, Helvetica, sans-serif;
text-align:left;
height:27px;
vertical-align:middle;
padding-left:4px;
border-right:1px solid #ffffff;
}

#enter input {
    margin-left: -2px;
}



