
/*   load the main media CSS file    */

@import url('../../../common/styles/media.css');

html, body {
	margin:0;
	height:98%;
}
#flashContent {
	width:98%;
	height:98%;
}

#ID_txt03 { background-color:#FDE6D4; border:2px solid #F68026; padding:8px; border-radius:5px;}