
/*   load the main media CSS file    */

@import url('../../../common/styles/media.css');

html, body {
	margin:0;
	height:100%;
}
#flashContent {
	width:98%;
	height:98%;
}
#ID_title01, #ID_title02, #ID_title03, #ID_title04 {color:#442557 !important;}