
/*   load the main media CSS file    */

@import url('../../../common/styles/media.css');

html, body {
	margin:0;
	height:100%;
}
#flashContent {
	width:98%;
	height:98%;
}

#ID_text6,#ID_text3,#ID_text1{line-height:11px !important;}

#ID_text3{height:45px !important;}