
/*   load the main media CSS file    */

@import url('../../../common/styles/media.css');

html, body {
	margin:0;
	height:100%;
	
}
#flashContent {
	width:98%;
	height:98%;
}

#mainDiv{height: 300px;left: 300px;position: absolute;text-align: center;top: 62px;width: 500px;}

@media only screen and (device-width: 768px) {
 #mainDiv{height: 300px;left: 160px;position: absolute;text-align: center;top: 62px;width: 500px;}
}