
/*   load the main media CSS file    */

@import url('../../../common/styles/media.css');

html, body {
	margin:0;
	height:100%;


}
#flashContent {
	width:98%;
	height:98%;
}

#mainDiv{
width:470px;
height:400px;
position:absolute;
top:0px;
left:0;

}

#main_wrapper{width:467px;height:400px;position:relative;left:5px;top:-20px;}
#main_container{background:url(line.png) top left no-repeat;position:absolute;top:155.7px;left:57.45px;width:331.75px!important;height:173.9px!important;z-index:0;}
#pic1{background:url(1.png) left top no-repeat;position:absolute;top:-35px;left:-57.35px;width:70.6px!important;height:72px!important;z-index:2;}
#pic2{background:url(4.png) left top no-repeat;position:absolute;top:-12px;left:130.65px;width:70.8px!important;height:34.1px!important;z-index:2;}
#pic3{position:absolute;left:296.4px;top:-18px;width:51px!important;height:37px!important;z-index:2;}
#pic4{background:url(2.png) left top no-repeat;position:absolute;top:141px;left:234.8px;width:40px!important;height:57px!important;z-index:2;}
#pic5{background:url(1.png) left top no-repeat;position:absolute;top:123px;left:70.8px;width:70.8px!important;height:72px!important;z-index:2;}
#ID_txt01{position:absolute;left:151.9px;top:6.95px;z-index:4;color:#fff;font-size:11px;width:23px;height:17px;}
#ID_txt02{position:absolute;left:314.9px;top:3.95px;z-index:4;color:#fff;font-size:11px;width:23px;height:17px;}
#ID_txt03{position:absolute;left:-58.1px;top:40.95px;z-index:4;color:#393536;font-size:11px;}
#ID_txt04{position:absolute;left:-58.1px;top:151.95px;z-index:4;color:#393536;font-size:11px;}
#ID_txt05{position:absolute;left:280.9px;top:151.95px;z-index:4;color:#393536;font-size:11px;width:120px;}
#ID_txt06{position:absolute;left:280.9px;top:21.95px;z-index:4;color:#393536;font-size:11px;width:120px}
#ID_bubble01_1{display:block;position:absolute;left:-57.1px;top:-118.05px;width:236px;height:82px;z-index:4;background:url(bubble1.png) left top no-repeat;}
#ID_bubble01{display:block;position:absolute;left:11.9px;top:8.95px;width:160px;height:200px;z-index:10;color:#393536;font-size:11px;}
#ID_bubble02_2{display:block;position:relative;left:240.1px;top:68.05px;width:164px;height:82px;z-index:4;background:url(bubble2.png) left top no-repeat;}
#ID_bubble02{display:block;position:absolute;left:9px;top:3px;z-index:10;color:#393536;font-size:11px;}
#ID_txt07{z-index:4;position:absolute;text-align:center;font-size:10px;top:0px;left:53px;}
#ID_txt09{z-index:4;position:absolute;text-align:center;font-size:10px;top:0px;left:53px;}
#ID_txt08{z-index:4;position:absolute;text-align:center;font-size:10px;top:0px;left:58px;}
#ID_txt10{position:absolute;left:53px;top:1px;z-index:0;color:#393536;font-size:10px;width:40px;text-align:center;}
#ID_txt11{position:absolute;left:53px;top:1px;z-index:0;color:#393536;font-size:10px;width:40px;text-align:center;}
#ID_txt12{z-index:4;position:absolute;text-align:center;font-size:10px;top:0.95px;left:61.9px;}

#dvSliderContainer{
    left: 8px;
   }





