
/*   load the main media CSS file    */

@import url('../../../common/styles/media.css');

html, body {
	margin:0;
	height:100%;
}
#flashContent {
	width:98%;
	height:98%;
}

#ID_txt05, #ID_txt06, #ID_txt07 { background-color: #FDE6D4;
    border: 2px solid #F68026;
    border-radius: 5px 5px 5px 5px;
    padding: 6px;}