
/*   load the main media CSS file    */

@import url('../../../common/styles/media.css');

html, body {
	margin:0;
	height:100%;

}
#flashContent {
    width:98%;
    height:98%;
    overflow:hidden;
}

#mainDiv {
    height: 380px;
    width: 450px;
    position:absolute;
    top:0px;
 }
 
#deresp1,#deresp2,.DR { color:#000; float:left; font: 10px/15px Courier New !important;}
#fb font{font-family:arial !important;}