
/*   load the main media CSS file    */

@import url('../../../common/styles/media.css');

html, body {
	margin:0;
	height:100%;

}
#flashContent {
	width:98%;
	height:98%;
}
#mainDiv {
    height: 380px;
    width: 416px;
    position:absolute;
    top:0px;
}
#deresp2,#deresp3,#deresp4,#deresp6 {font:normal 10.5px/15px Courier New !important;}
span.space_10{padding-left:10px; height:auto !important;  float:none !important;}
span.space_15{padding-left:30px; height:auto !important;  float:none !important;}
#staticTxt1,#pc1,#pc2{font-weight:bold;}
.bold{font-weight:bold;}
#outputBox{height:160px !important; font-family:"Courier New";}

#DivMain_multi{
	width: 376px !important;
}

@media only screen and (device-width: 768px) {
#pc1{margin-left:2px;margin-top:-2px;}
#pc2{margin-top:2px;margin-left:1px}
#outputBox{line-height:12px;}
}
#deresp2{
	float: left;
	width: 100%;
}
#fb font{font-family:arial !important;}