
/*   load the main media CSS file    */

@import url('../../../common/styles/media.css');

html, body {
	margin:0;
	height:100%;
	min-height: 390px;
	min-width:470px;
}
#flashContent {
	width:100%;
	height:100%;
}
li{margin-left:2em !important;}
#ID_title_txt { color:#493157 !important; font-weight:bold !important;}