
/*   load the main media CSS file    */

@import url('../../../common/styles/media.css');

html, body {
	margin:0;
	height:100%;
}
#flashContent {
	width:98%;
	height:98%;
	overflow:hidden !important;
}
#mainDiv {
width:470px;	
height:400px;
left:0;
position:absolute;
top:0;
}
#maincontainer
{
width:460px;
height:390px;
position:absolute;
top:0px;
left:0px;
}
#imagecontainer
{
width:430px;
height:259px;
position:absolute;
left:27px;
top:85px;
background:url(9_1_1_3.jpg) top center no-repeat;	
}
#text1
{
font-size: 10px;
height: 40px;
left: 5px;
position: absolute;
text-align: left;
top: 35px;
width: 149.25px;
line-height:11px;
}
#text2
{
font-size: 10px;
height: 40px;
left: 305px;
position: absolute;
text-align: left;
top: 35px;
width: 149.25px;
line-height:11px;
}
#text3
{
font-size: 10px;
height: 60px;
left: 81px;
position: absolute;
text-align: left;
top: 204px;
width: 294px;
z-index: 2;
line-height:11px;
}
#text4
{
font-size: 10px;
height: 13px;
left: 1px;
position: absolute;
text-align: center;
top: 178px;
width: 29px;
}
#text5
{
font-size: 10px;
height: 13px;
left: 341px;
position: absolute;
text-align: center;
top: 178px;
width: 40px;
}
#frame
{
width:39px;
height:22px;
position:absolute;
top:140px;
left:0px;
background:url(envelope.png) top center no-repeat;
font-size:10px;
text-align:center;
padding-top: 3px;	
}
#frame1
{
width:39px;
height:22px;
position:absolute;
top:74px;
left:0px;
background:url(envelope-green.png) top center no-repeat;
font-size:10px;
text-align:center;
padding-top: 3px;	
z-index:2
}
#frame2
{
width:39px;
height:22px;
position:absolute;
top:71px;
left:352px;
background:url(envelope2.png) top center no-repeat;
font-size:10px;
text-align:center;
padding-top: 3px;	
z-index:2
}
#wless1
{
height: 58px;
left: 137px;
position: absolute;
top: 35px;
width: 80.15px;
z-index: 1;	
}
#wless2
{
height: 58px;
left: 195px;
position: absolute;
top: 35px;
width: 80.15px;
z-index: 1;	
}
#gradient
{
height: 9px;
left: 37px;
position: absolute;
top: 73px;
width: 80.15px;
z-index: 1;
clip:rect(0px 0px 15px 0px)
}
#gradient1
{
height: 9px;
left:274px;
position: absolute;
top: 73px;
width: 83.15px;
z-index: 1;
clip:rect(0px 0px 15px 0px);
}
#spring
{
width:10px;
height:51px;
position:absolute;
top:93px;
left:367px;
clip:rect(0px 10px 0px 0px);
}
#moreinfo
{
height:47px;
left: 383px;
position: absolute;
top: 209px;
width:48px;	
}
#moreinfotip
{
background: none repeat scroll 0 0 #CDEAF8;
border-radius: 5px 5px 5px 5px;
box-shadow: 0 0 3px #656565;
font-size: 10px;
height: 15px;
left: 325px;
padding: 5px;
position: absolute;
top: 196px;
width: 85px;
z-index: 3;	
display:none;
}

#feedback
{
background: url("mask.gif") no-repeat scroll center top transparent;
height: 171px;
left: -22px;
position: absolute;
top: -6px;
width: 450px;
z-index: 3;
display:none;
text-align:left;
font-size:10px;
display:none;
}
#feedbacktit
{
color: #000000;
font-size: 12px;
font-weight: bold;
height: 15px;
left: 7px;
position: absolute;
top: 4px;
width: 415px;	
}
#feedbacktext
{
font-size: 10px;
height: 132px;
left: 12px;
overflow-y: scroll;
position: absolute;
text-align: left;
top: 30px;
width: 430px;
}







#dvSliderContainer
{
width:439px !important;
}
#slider
{
	width:239px !important;
}