
/*   load the main media CSS file    */

@import url('../../../common/styles/media.css');

html, body {
	margin:0;
	height:100%;

}
#flashContent {
	width:100%;
	height:100%;
}
#canvasDiv{overflow-y:hidden ! important}

#ID_Button01, #ID_Button02{top:2px ! important; left:-2px !important}

@media only screen and (device-width: 768px) {
#ID_Button01{margin-top:-1px;}
#ID_Button02{margin-top:0px;}
}