
/*   load the main media CSS file    */

@import url('../../../common/styles/media.css');

html, body {
	margin:0;
	height:100%;
}
#flashContent {
	width:98%;
	height:98%;
}

#ID_txt17,#ID_txt18,#ID_txt19,#ID_txt20{border:2px solid #393536;background-color:#FDE6D4;padding:5px 2px}
#ID_txt27,#ID_txt28,#ID_txt33,#ID_txt34{line-height:13px;letter-spacing:-.3px}
#ID_txt37,#ID_txt38{-moz-text-shadow:  0 0 0.2em #fff, 0 0 0.2em #fff,0 0 0.2em #fff, 0 0 0.2em #fff, 0 0 0.2em #fff,0 0 0.2em #fff, 0 0 0.2em #fff, 0 0 0.2em #fff, 0 0 0.2em #fff, 0 0 0.2em #fff, 0 0 0.2em #fff,0 0 0.2em #fff;
-webkit-text-shadow:  0 0 0.2em #fff, 0 0 0.2em #fff,0 0 0.2em #fff, 0 0 0.2em #fff, 0 0 0.2em #fff,0 0 0.2em #fff, 0 0 0.2em #fff, 0 0 0.2em #fff, 0 0 0.2em #fff, 0 0 0.2em #fff, 0 0 0.2em #fff,0 0 0.2em #fff;
text-shadow:  0 0 0.2em #fff, 0 0 0.2em #fff,0 0 0.2em #fff, 0 0 0.2em #fff, 0 0 0.2em #fff,0 0 0.2em #fff, 0 0 0.2em #fff, 0 0 0.2em #fff, 0 0 0.2em #fff, 0 0 0.2em #fff, 0 0 0.2em #fff,0 0 0.2em #fff,
-moz-text-shadow:  0 0 0.2em #fff, 0 0 0.2em #fff,0 0 0.2em #fff, 0 0 0.2em #fff, 0 0 0.2em #fff,0 0 0.2em #fff, 0 0 0.2em #fff, 0 0 0.2em #fff, 0 0 0.2em #fff, 0 0 0.2em #fff, 0 0 0.2em #fff,0 0 0.2em #fff;
-webkit-text-shadow:  0 0 0.2em #fff, 0 0 0.2em #fff,0 0 0.2em #fff, 0 0 0.2em #fff, 0 0 0.2em #fff,0 0 0.2em #fff, 0 0 0.2em #fff, 0 0 0.2em #fff, 0 0 0.2em #fff, 0 0 0.2em #fff, 0 0 0.2em #fff,0 0 0.2em #fff;
text-shadow:  0 0 0.2em #fff, 0 0 0.2em #fff,0 0 0.2em #fff, 0 0 0.2em #fff, 0 0 0.2em #fff,0 0 0.2em #fff, 0 0 0.2em #fff, 0 0 0.2em #fff, 0 0 0.2em #fff, 0 0 0.2em #fff, 0 0 0.2em #fff,0 0 0.2em #fff}

#imgId3 img,#imgId4 img{width:84px;height:91px;}
