
/*   load the main media CSS file    */

@import url('../../../common/styles/media.css');

html, body {
	margin:0;
	height:100%;
}
#flashContent {
	width:98%;
	height:98%;
}
#ID_txt20 { background-repeat:no-repeat; width:415.15px !important; height:247px; background-attachment:scroll !important;}
body #ID_txt20 table { font-family:"Courier New", Courier, monospace !important; letter-spacing: -1.1px;} 
.bold { font-weight:bold !important;}